# Node
node_modules
dist
backend/**/*.js
!backend/**/*.config.js

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*

# OS files
.DS_Store

# Internal docs (not for public repo)
docs/
